<div class="docs-example-viewer-wrapper">
  <div class="docs-example-viewer-title mat-elevation-z2">
    <div class="docs-example-viewer-title-spacer">
      <h4>Sort Movies</h4>
    </div>
  </div>
  <div class="docs-example-viewer-body">
    <mat-form-field class="full-width" appearance="legacy">
      <mat-label>Sort parameter</mat-label>
      <mat-select
        [(value)]="selectedSort"
        (selectionChange)="SortMovieData($event)"
      >
        <mat-option value="title">Title</mat-option>
        <mat-option value="rating">Rating</mat-option>
        <mat-option value="duration">Duration</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
