<mat-card
  class="movie-card mat-elevation-z2"
  [class.on-movie-card-hover]="isActive"
  (mouseover)="isActive = true"
  (mouseout)="isActive = false"
>
  <a
    [routerLink]="['/movies/details/', movie.movieId]"
    matTooltip="{{ movie.title }}"
    ><img
      class="preview-image"
      mat-card-image
      src="Poster/{{ movie.posterPath }}"
      alt="Movie cover image"
  /></a>
  <mat-card-content class="my-2">
    <span class="card-rating">
      <app-movie-rating [movieRating]="movie.rating"></app-movie-rating>
    </span>
    <div class="card-title my-1">
      <a [routerLink]="['/movies/details', movie.movieId]">
        <strong>{{ movie.title }}</strong>
      </a>
    </div>
    <p>{{ movie.language }}</p>
  </mat-card-content>
</mat-card>
