/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
}
body {
  font-size: 16px;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-kerning: normal;
  background: #fafafa;
}

.container {
  padding-top: 60px;
}

a {
  text-decoration: none;
}

.custom-card-header {
  background: #ff4081;
  color: #fff;
}
