<div class="row no-gutters pt-3">
  <div class="col-md-3 col-sm-12">
    <div>
      <app-movie-filter [genreName]="genreName"></app-movie-filter>
    </div>
  </div>
  <div class="col mb-3">
    <ng-container *ngIf="movieList$ | async as movies; else loading">
      <div
        *ngIf="movies.length > 0; else nodata"
        class="d-flex justify-content-start flex-wrap mb-4"
      >
        <div *ngFor="let movie of movies" class="p-1">
          <app-movie-card [movie]="movie"></app-movie-card>
        </div>
      </div>
    </ng-container>
    <ng-template class="spinner-container" #loading>
      <div class="d-flex justify-content-center mt-4">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </div>
</div>

<ng-template #nodata>
  <div class="d-flex justify-content-center mt-4">
    <h1 class="display-4">No movies found.</h1>
  </div>
</ng-template>
