$color-white: #ffffff;
$color-upload: #00a7a7;

.left-div {
  float: left;
  width: 70%;
  padding: 0 10px 0 0;
}

.right-div {
  float: left;
  width: 30%;
  padding: 10px;
}

.preview-image {
  max-height: 400px;
  max-width: 200px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  cursor: pointer;
  color: $color-white;
  background-color: $color-upload;
  border-radius: 4px;
}
